/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#drawer {
    background: #1a1a1a;
}

.ink-button-bar {
    display: block;
    margin: 0;
    width: 100%;
}
.ink-button-bar+.ink-button-bar {
    margin: 1em 0 0;
}
.ink-form .ink-button-bar {
    margin: 0;
}

.ink-navigation {
    ul.menu {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        li.menu {
            float:right;
        }
    }
}

.ink-table {
    .meta {
        width: 1em;
        white-space: nowrap;
    }
}

#main-content {
    padding-bottom: 20px;
    h1 {
        margin-top: 20px;
    }
    .star-check {
        padding: 0;
        margin: 0;
        li {
            text-align: center;
            list-style: none;
            padding: 0;
            margin: 0;
            label {
                position: relative;
                overflow: hidden;
                width: 32px;
                height: 32px;
                display: inline-block;
            }
            input {
                border: none;
                background: none;
                position: absolute;
                left: -1000px;
                outline: none;
                &::before {
                    color: #ccc;
                    position: absolute;
                    left: 1000px;
                    width: 32px;
                    text-align: center;
                    line-height: 32px;
                    display: inline-block;
                    font-size: 32px;
                    font-family: 'FontAwesome';
                    content: '\f005';
                }
                &:checked::before {
                    color:#F7CC20;
                }
            }
            &.on input::before {
                color:#F7CC20;
            }
        }
    }
}

.control-value {
    font-size: 1.4em;
}
.control-value-long {
    font-size: 1.2em;
    line-height: 1.6;
}

.chart-wrap {
    text-align: center;
}
#chart {
    margin: 0 auto;
    width: 320px;
}

.right-btn {
    text-align: right;
    margin-top: -45px;
}

.count {
    display: inline-block;
    white-space: nowrap;
    background: #c91111;
    color:#fff;
    line-height: 22px;
    padding: 0 7px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    border-radius: 11px;
}